@font-face {
    font-family: 'DP Comic';
        src: url('fonts/dpcomic.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    font-family: DP Comic;
    background-color: #faf6f6;
}

.page-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    justify-items: center;
}

.image-container {
    grid-column-start: 1;
    position: relative;
}

img {
    width: 570px;
}

.button {
    position: absolute;
}

.button1 {
    top: 405px;
    left: 172px;
}

.button2 {
    top: 423px;
    left: 258px;
}

.button3 {
    top: 405px;
    left: 339px;
}

#feedButton {
    font-family: DP Comic;
    font-size: 20px;
    background: 0;
    border: 0;
    color: #312c2c;
}

#feedButton:hover {
    color: #a774db;
}

#playButton {
    font-family: DP Comic;
    font-size: 20px;
    background: 0;
    border: 0;
    color: #312c2c;
}

#playButton:hover {
    color: #a774db;
}

#sleepButton {
    font-family: DP Comic;
    font-size: 20px;
    background: 0;
    border: 0;
    color: #312c2c;
}

#sleepButton:hover {
    color: #a774db;
}

.text-container {
    grid-column-start: 2;
    padding-right: 30px;
}

h1 {
    color: #54494B;
    text-align: center;
}

.mood {
    color: #54494B;
}

.meter {
    width: 97%;
    height: 10px;
    background-color: #ded5d0;
    border: 0;
    border-radius: 2px;
    overflow: hidden;
}

.meter-bar {
    height: 100%;
    background-color: #fd7fa9;
    transition: width 0.5s ease-in-out;
}

.meter-text {
    color: #54494B;
}

h3 {
    color: #54494B;
}

.instruction-text {
    color: #54494B;
}

.numbered-instruction {
    color: #54494B;
}

.numbered-instruction .instruction-button {
    color: #a774db;
}